@use './mixins/mixins.scss' as *;

@include b(button) {
  border: 0;
  background-color: rgba(161, 161, 161, 0.5);
  &:hover{
    background-color: rgba(161, 161, 161,0.7);
  }
  // 禁止输入
  @include is(disabled) {
    &:hover{
      cursor: not-allowed;
    }
   }


  //  成功
   @include m(success) {
    background-color: aquamarine;
   }
}



