@use './mixins/mixins.scss' as *;

@include b(button) {
  // border: 0;
  border: none;
  outline: none;
  &:focus{
    border: none;
    outline: none;

  }
  background-color: rgba(161, 161, 161, 0.5);
  &:hover{
    background-color: rgba(161, 161, 161,0.7);
  }
  // 禁止输入
  @include when(disabled) {
    &:hover{
      cursor: not-allowed;
    }
   }


  //  成功
   @include m(success) {
    background-color: rgba(124, 235, 80,0.5);
    &:hover{
      background-color:rgba(124, 235, 80,0.7) ;
    }
   }

  //  警告
   @include m(waring) {
    background-color: rgba(215, 95, 44, 0.5);
    &:hover{
      background-color:rgba(217, 95, 44,0.7) ;
    }
   }
}





